# systemd user unit file for Linux-Fake-Background-Webcam
# place this file into a location suitable for user-defined systemd units
# (e.g $HOME/.config/systemd/user)
#
# To enable and run the fakecam service, run
# systemctl --user enable fakecam.service
# systemctl --user start fakecam.service

[Unit]
Description=Fake camera
After=network.target

[Service]
Type=simple
# Use start wrapper
ExecStart=%h/.local/bin/lfbw_start_wrapper.sh
# LFBW exits when pressing Ctrl + \ which corresponds to SIGQUIT
# so we need to specify this kill signal instead of SIGINT
KillSignal=SIGQUIT

[Install]
WantedBy=default.target
